@import "./base/";
@import "./mixin";
@import "./abstracts";
@import "./components";
@import "./layouts";






.title-container {
    width: 800px;
    margin: 0 auto;
    margin-top: $xxl;
}

.bg {
    background-color: #F3F6FF;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}