.card-content__mail {
    background-color: $cardBG;
    border: 3px solid $borderColor;
    height: 60px;
    width: 70%;
    color: $white;
    padding: 10px;

    &::placeholder {
        color: $white;
    }

    &:focus {
        border: 3px solid $borderColor;
    }

    @media (max-width: 600px) {
        width: 100%;
        /* Giriş kutusunun genişliğini %100 yaparak tam ekran genişliği kadar genişlemesini sağlıyoruz */
    }
}