$darkBlue: #1E2246;
$lightPurple: #F3F6FF;
$white: #FFFFFF;
$grey: #C2C5E2;


$linearPurple: linear-gradient(90deg, #BBCBFB 0%, #F1D4FF 100%);
$linearPink: linear-gradient(90deg, #FBBBDA 0%, #FFD4D4 100%);
$linearBlue: linear-gradient(90deg, #BBEBFB 0%, #EFD4FF 100%);
$linearTurquoise: linear-gradient(90deg, #BBFBE4 0%, #D4E0FF 100%);
$linearOrangish: linear-gradient(90deg, #BBD8FB 0%, #FFD4D4 100%);
$linearOrange: linear-gradient(90deg, #FFDEC7 0%, #D4D9FF 100%);