.logo {
    padding: 30px 18px;
    background-image: none;
    border: none;
    border-radius: 14px;



    &.linearPurple {
        background-image: $linearPurple;

    }

    &.linearPink {
        background-image: $linearPink;

    }

    &.linearBlue {
        background-image: $linearBlue;

    }

    &.linearTurquoise {
        background-image: $linearTurquoise;

    }

    &.linearOrangish {
        background-image: $linearOrangish;

    }

    &.linearOrange {
        background-image: $linearOrange;

    }

}