.title {
    font-size: 24px;
    font-weight: 600;
    font-family: $second-font;
    color: $darkBlue;


    &.sm {
        font-size: 16px;
        text-align: center;
        margin-top: $md;
        font-weight: 500;
        font-family: $first-font;
    }

    &.md {
        font-size: 24px;
        font-weight: 500;
        font-family: $first-font;
        background-color: $white;
    }

    &.-xl {
        font-size: 32px;
        margin-bottom: $xxl;
    }

    &.center {
        text-align: center;
        margin: 0 auto;
        margin-top: $xxxl;
    }


}