.position {
    &-list {
        width: 1054px;
        border-radius: 16px;
        font-family: $first-font;
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
    }

    &-item {
        @include flex(column, center, center);
        gap: 32px;
        border-radius: 16px;
        padding: 40px;
        background-color: $white;
        box-shadow: 1px 18px 50px 1px #ced5eb;
    }

    &-header {
        @include flex(row, space-between, center);
        gap: 30px;

    }
}